# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables and secrets
.env
.env.*
app/.env

# PyInstaller
*.spec

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/
*.egg
pip-wheel-metadata/

# Pydantic cache
__pydantic_cache__/

# Test outputs / coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.tox/
.nox/
.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints/

# FastAPI / OpenAPI docs
openapi.json
openapi.yaml
docs/

# MyPy / Typing
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
